html,body{
    background-color: #fff;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

.main-header{
    background-image: url("https://dxaurk9yhilm4.cloudfront.net/images/7383/jael-rodriguez-AkF5NT0sZy8-unsplash-1-1_210301_200939_35d31212c7a2d4dccdff99afa3f88af5.jpg");
    background-size: cover; 
    background-position: center;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title{
    color: whitesmoke;
    text-transform: capitalize;
    font-size: calc(20.66667px + 3.06667vw);
    margin: 0 0 24vh 12vw;
}

.main-content {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    width: 100%;
}

.item{
    display: flex;
    flex-direction: column;
}

.item img{
    width: 100%;
    height: 100%;
}

.paragraph{
    margin: 0;
    padding: 50px;
    color: whitesmoke;
    font-size: 20px;
    background-color: black;
    text-align: center;
    text-transform: capitalize;
}