body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}

.header-content{
    display: flex;
    flex-direction: column;
    width: 100vw;
}
.main-header{
    display: block;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.header-title{
    color: whitesmoke;
    font-size: calc(40px + 3vw);
    padding: 12vw 0 5vw 25vw;
}
.second-line{
    font-family: sans-serif;
    margin-top: -50px;
}

#header{
    width: 100vw;
    
}

.video {
    position: absolute;
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    z-index: -1;
} 

.header-bottom{
    display: flex;
    flex-direction: row;
    padding: 10vw 8vw;
    justify-content: space-between;
}

.header-bottom-left{
    font-size: calc(10px + 1vw);
    color: whitesmoke; 
}

.main-content{
    background-image: url("https://dxaurk9yhilm4.cloudfront.net/images/287/background_imagev2_3580431e48aedf97dcedf972d1481942.jpg");
    height: 130vh;
    display: flex;
    padding: 8vw 10vw;
}
.left-side-content{
    display: flex;
    flex-direction: column;
    width: 90%;
    padding-right: 0;
    justify-content: space-between;
    
}

.left-side-image{
    height: 90%;
    width: 90%;
    margin-top: 0px;
}

.right-side-image{
    height: 880px;
    width: 500px;
    padding-right: 10px;
    padding-top: 100px;
}

.text1 {
    color: #000000;
    margin: 0px 0px;
    padding: 0px 0px;
    padding-top: 10px;
    font-size: 50px;
    font-weight: lighter;
    line-height: 1.1;
    transform: translate(0px, 2.6px);
}

.text2 {
    margin: 0px 5px;
    padding: 0px px;
    font-size: 50px;
    font-weight: lighter;
    line-height: 1.1;
}

.text {
color: #777;
font-size: 18px;
padding:20px;
margin-top: 30px;
margin-bottom: 30px;
line-height: 2;
}
.second-content{
    background-image: linear-gradient(white, #f3f3f3);
    display: flex;
    flex-direction: column;
}

.second-content-header{
    padding: 0 10vw;
    display: flex;
    justify-content: space-between;
}

.second-content-header-left > h1{
    font-size: 50px;
    margin-bottom: -25px;
    font-weight: normal;
    margin-top:100px;  
}

.second-content-header-left > h2{
    font-size: 60px;
    font-weight:50;
    font-family: sans-serif;
    margin-bottom: 50px;
    margin-top: 20px;

}

.second-content-body {
    height: 65vh;
    position: relative;
    margin: 50px;
}
.photos{
    position:absolute; 
    display: flex;
    animation: bannermove 60s linear infinite;
}


.photos > article >img{
    height:35em;
    width:35em;
    padding: 0 10px;
    z-index: -1;
}
.image-text{
    position: absolute;
    bottom: 0;
    padding: 0 0 2vw 4vw;
}

.image-text > h3{
    margin-bottom: 1rem;
    white-space: normal;
    color: #fff;
    font-size: 2rem;
    font-family: gt-sectra;
    font-weight: 200;
    text-transform: capitalize;
}

.image-text > p{
    font-family: messina-sans;
    color: hsla(0,0%,100%,.75);
    line-height: 1.5;
    white-space: normal;
    font-size: 1rem;
    text-transform:capitalize;
}
@keyframes bannermove {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-50%, 0);
    }
  }

  
.third-content {
    height: 90vw;
    display: flex;
    flex-direction: column;
    background-color: #f3f3f3
}

.third-content-header {
    display: flex;
    flex-direction: column;
    height: 25%;
    padding:20vh 10vw;
    
}

.third-content-header > h1{
    font-size: calc(20px + 2.5vw);
    margin-bottom: -20px;
    font-weight: normal;
    margin-top: 0; 
}

.third-content-header > h2{
    font-size: calc(15px + 2.5vw);
    margin-top: -5px;
    font-weight: lighter;
    font-family: sans-serif;
    margin-bottom: 30px;
    margin-top: 8px;
}

.third-content-header > p {
    margin: 5px;
    color: #777777;
    display: block;
    text-align: start;
    opacity: 1;
    font-size: 20px;
}

.third-content-body{
    height: 84%;
}
.third-content-body-first-image{
    width: 67.5%;
    object-fit: fill;
    position: absolute;
    
}

.third-content-body-div{
    background-color: #161f1e;
    position: absolute;
    height: 35vw;
    width: 50vw;
    z-index: 1;
    right: 0;
    margin-top: 4vw;
    display: flex;
}

.third-content-body-div-right{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.third-content-body-div-left{
    width: 50%;
    padding: 0 3vw;
}

.third-content-body-div-left > img{
    width: 100%;
    height: 100%;
    margin-top: -4vw;
}
.map-scroll{
    text-align: center;
    display: flex;
    margin: 10vh 5vw ;
}

.map{
    list-style-type:none;
    font-size: 20px;
    min-width: 10px;
    color:black;
    margin-left:90px;
    font-family: Cambria;
}

.arrow{
    height :8%;
    margin: 3vw 5vw; 
    display: flex;
}

.weather{
    height: 6%;
    display: flex;
    margin: 2vw 3vw;
    justify-content: space-around;
}
.weather-inner{
    text-align: center;
}
.weather-inner > img{
    width: 100%;
    height: 100%;
}
.weather-inner > p{
    color: whitesmoke;
}

.location-header{
    height: 20%;
    color: whitesmoke;
    margin: 1vw 5vw;
}
.location-header >p{
    color: #777777
}

.location-header > h3{
    font-size:26px;
    flex-direction: column;
    font-family: 'Zen Kaku Gothic New', sans-serif;
    font-weight: normal;
}

.location-footer{
    display: flex;
    padding-top: 3vw;
    margin: 0 5vw 5vw 5vw;
}
.location-footer > svg{
    height: 1.5vw;
    margin-top: 10px;
    margin-right: 15px;
}
.location-footer > p {
    color: whitesmoke;
}

.fourth-content{
    display: flex;
   align-items: center;
}
.img-container{
    height:55em;
    width:85em;
}

.img-container > img {
    width: 100%;
    height: 100%;
    
}

.img-container > span {
    position: absolute;
    font-size:50px;
    font-family:calibri;
    color: whitesmoke;
    margin-top: 63vh;
    margin-left:8vw;
}